@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey-1: hsl(210, 30%, 92%);
  --grey-2: hsl(210, 30%, 90%);
  --grey-3: hsl(210, 40%, 80%);
  --grey-4: hsl(210, 30%, 65%);
  --grey-5: hsl(210, 25%, 50%);
  --grey-6: hsl(210, 20%, 36%);
  --grey-7: hsl(210, 20%, 25%);
  --grey-8: hsl(210, 20%, 10%);
}

#container {
  background-color: var(--grey-1);
}

#dashboard-bottom-div {
  box-shadow: 0px -2px 3px 0px hsl(0, 0%, 80%);
}
